div.container {
   padding-left: .5em;
   padding-right: .5em;
}

nav.toolbar {

   font-family: 'Roboto Condensed';
   letter-spacing: .1em;
   text-transform: uppercase;
   align-items: center;
   width: 100%;
   display: flex;
   padding-top: .6em;
   padding-bottom: .6em;
   
   background-color: #1976d2;
   color: rgba(255,255,255,.9);
   
   .title {
      // outline: 1px solid red;
      // flex: 0 1 auto;
      font-size: 120%;
      margin-left: .5em;
      
      a {
         color: inherit;
         text-decoration: none;
      }
      
      // padding-right: .5em;
      // border-right: 2px solid rgba(255,255,255,.9);
   }
   
   .middle {
      // outline: 1px solid red;
      flex: 1 1 auto;
      // margin-left: 3em;
      font-size: 80%;
      justify-content: right;
   }
   
   .right {
      // outline: 1px solid red;
      // flex: 0 1 auto;
      font-size: 110%;
      margin-right: .5em;
      // padding-right: 1em;
      // text-align: right;
      
      i {
         margin-right: .3em;
      }
      
      i+i {
         margin-left: 1.25em;
      }
   }
}

nav.menu {
   &.hidden {
      max-height: 0;
      display: none;
      opacity: 0;
      transition: .2s all ease-in-out;
   }
   
   &.visible {
      max-height: 4000;
      display: block;
      opacity: 1;
      transition: .2s all ease-in-out;
   }

   display: flex;

   background-color: #1976d2;
   color: rgba(255,255,255,.8);
   padding-left: 2em;
   padding-bottom: 1em;
   padding-top: .6em;
   font-family: 'Roboto Condensed';

   .menuitem {
       display: block;
       & + .menuitem {
           margin-top: .7em;
       }
       font-size: 120%;

       & i {
           margin-right: .7em;
       }
   }

   .menuitem.refresh {
       margin-top: 2em !important;
   }
   
   a {
      flex: 0 1 auto;
      color: rgba(255,255,255,.9);
      text-decoration: none;
   }
}